<h1 class="h1">Spiderman</h1>
<dl class="dl-horizontal">
    <dt>Nombre:</dt>
    <dd>{{ name }}</dd>

    <dt>Edad:</dt>
    <dd>{{ age }}</dd>

    <dt>Método:</dt>
    <dd>{{getHeroDescription()}}</dd>

    <dt>Capitalizado:</dt>
    <dd>{{capitalizeName}}</dd>
</dl>

<button 
    *ngIf=" name !== 'Spiderman'" 
    (click)="changeHero()" 
    class="btn btn-primary mx-2">
    Cambiar nombre
</button>

<button 
    *ngIf="age !== 25"
    (click)="changeAge()" 
    class="btn btn-primary">
    Cambiar edad
</button>
<button 
   
    (click)="reset()" 
    class="btn btn-primary mx-2">
    reset
</button>
