<h4>Agregar personaje</h4>  
        <form 
            class="row"
            (ngSubmit)="emitCharacter()"
        >
            <input 
                type="text" 
                [(ngModel)]="character.name"
                name="name"
                class=" form-control " 
                placeholder="Nombre"
            >
            <input
                type="number" 
                [(ngModel)]="character.power"
                name="power"
                class=" form-control mt-2"
                placeholder="Poder"
            >

            <button
                class=" btn btn-primary mt-2" 
                type="submit"
            >
            Agregar Personaje
            </button>
            <!-- <pre>{{character | json}}</pre> -->
        </form> 